<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>spring.profiles.active</param-name>
    <param-value>@springprofile@</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/META-INF/spring/applicationContext.xml</param-value>
  </context-param>
  <display-name>testportlet</display-name>
  <context-param>
    <param-name>maxUploadSize</param-name>
    <param-value>16106127360</param-value>
  </context-param>
  <context-param>
    <param-name>fileToDeleteAfter</param-name>
    <param-value>60000</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
      <taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/aui</taglib-uri>
      <taglib-location>/WEB-INF/tld/aui.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>dispatch</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatch</servlet-name>
    <url-pattern>/dispatch/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>it.eng.portlet.consolepec.gwt.server.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadAllegatoServlet</servlet-name>
    <servlet-class>it.eng.portlet.consolepec.gwt.server.DownloadAllegatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAllegatoServlet</servlet-name>
    <url-pattern>/downloadallegato/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadPubblicoServlet</servlet-name>
    <servlet-class>it.eng.portlet.consolepec.gwt.server.DownloadPubblicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPubblicoServlet</servlet-name>
    <url-pattern>/downloadpubblico/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>it.eng.portlet.consolepec.gwt.server.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>driveFileUploadServlet</servlet-name>
  	<servlet-class>it.eng.portlet.consolepec.gwt.server.rest.servlet.DriveFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>driveFileUploadServlet</servlet-name>
  	<url-pattern>/drive/upload/file</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
</web-app>